body {
    background-color: #2759ae;
}


/* Navbar */


header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 3%;
    background-color: #2759ae;
}

.logo {
    margin-right: auto;
    color: white;
    font-size: 50px;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}

.nav__links li {
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #2759ae;
}

.cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: #2759ae;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta:hover {
    background-color: #2759ae;
}

/* Mobile Nav */

.menu {
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #2759ae;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
}

.overlay--active {
    width: 100%;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
    color: #2759ae;
}

.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
}

.animation-scroll {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pb-12 {
    color: aliceblue;
    font-size: x-large;
}

.leading-relaxed {
    font-size: 1.2rem;
}

.text-sm {
    font-size: 1.2rem;
    line-height: 1.25rem;
    color: white;
}

footer {
    text-align: center;
    background-color: black;
    height: 5vh;
    color: white;
}

.footer h2 {
    align-items: center;
}

.college_name {
    color: blue;
}

.college_name span a {
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    lottie-player {
        width: 300px;
        height: 300px;
    }

    .mouse {
        display: block;
    }
}

@media only screen and (max-width: 850px) {
    lottie-player {
        display: none;
    }

    .mouse {
        display: block;
    }
}

@media only screen and (max-width: 750px) {
    lottie-player {
        display: none;
    }

    .mouse {
        display: block;
    }
}

@media only screen and (max-width:500px) {
    lottie-player {
        display: none;
    }

    .mouse {
        display: block;
    }
}

/* Navbar */
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }

    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media only screen and (max-width: 800px) {

    .nav__links,
    .cta {
        display: none;
    }

    .menu {
        display: initial;
    }
}